@font-face {
    font-family: monserrat;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

.title{
    text-align: center;
    font-size: 50px;
    color: white;
    
}

.transformacion{
    width: 500px;
    margin: auto;
    transition: transform 5s;
}

.transformacion:hover{
    transform: scaleX(2);
    transform: scaleY(2);
    width: 250px;
}


.form{
    border-radius: 55px;
    border: solid;
    text-align: center;
    background-color: aqua;
    text-decoration: solid;
    margin: 70px;
    
}

.foot{
    
    text-align: center;
    margin-top: 300px;
}

.input{
    margin-top: 50px;
}

.div{
    display: inline-block;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.divfoot{
    
    font-size: 35px;
    text-decoration: solid;
    color: white;
    text-decoration: none;
}

body{
    background-image: url(../images/carback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#padre{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "hijoa hijoa hijoa"
    "hijob hijob hijob"
    "hijoc hijoc hijoc";
    height: 100vh;
}

.hijoa{
    grid-area: hijoa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hijob{
    grid-area: hijob;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hijoc{
    grid-area: hijoc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section{
    display: flex;
}

@media (max-width:760px){
    #padre{
        grid-template-areas: 
        "hijoa hijoa"
        "hijob hijob"
        "hijoc hijoc";
    }

    .section{
        flex-wrap: wrap;
    }
}

@media (max-width:368px){
    #padre{
        grid-template-areas: 
        "hijoa"
        "hijob"
        "hijoc";
    }

}
    
.form{
    font-size: 25px;
    background-color: rgb(20, 100, 124);
    padding-top: 50px;
    color: white;

}

