@font-face {
    font-family: monserrat;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

.title{
    text-align: center;
    font-size: 50px;
    color: white;
    
}






.form{
    border-radius: 55px;
    border: solid;
    text-align: center;
    background-color: aqua;
    text-decoration: solid;
    margin: 120px;

}

.foot{
    
    text-align: center;
    margin-top: 300px;
}

.input{
    margin-top: 50px;
}

.div{
    display: inline-block;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.divfoot{
    
    font-size: 35px;
    text-decoration: solid;
    color: white;
    text-decoration: none;
}


.section{
    display: flex;
}



    
.form{
    font-size: 25px;
    background-image: linear-gradient(to bottom right, black, black, white) ;
    background-attachment: fixed;
    padding-top: 50px;
    color: white;
}

