header{
    text-align: center;
}

body{
    background-image: linear-gradient(to bottom right, rgba(40, 42, 46, 0.808), grey, whitesmoke);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body{
    background-color: aqua;
}



article{
    text-align: center;
}

h2{
    font-size: 45px;
    color: white;
}

@font-face {
    font-family: monserrat;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}








.transformacion{
    width: 500px;
    margin: auto;
    transition: transform 5s;
}

.transformacion:hover{
    transform: scaleX(2);
    transform: scaleY();
    width: 300px;
}

.backdiv{
    background-image: url("../images/islamuj.jpg");
  
    
    
}

.backdiv2{
    background-image: url("../images/tunel.jpg");
    
    
}

.backdiv3{
    background-image: url("../images/tulum.jpg");
   
    
}

.font{
    font-size: 80px;
    color: black;
}

