header{
    text-align: center;
}

body{
    background-image: linear-gradient(to bottom right, black, black, white);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body{
    background-color: aqua;
}



article{
    text-align: center;
}

h2{
    font-size: 45px;
    color: white;
}

@font-face {
    font-family: monserrat;
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

.transformacion{
    width: 500px;
    margin: auto;
    transition: transform 5s;
}



.backdiv{
    background-image: url("../images/islamujeres.jpg");
}

.backdiv2{
    background-image: url("../images/playadelcarmen.jpg");
}

.backdiv3{
    background-image: url("../images/Gran-Cenote_SCU4U0.jpeg");
}

.backdiv4{
    background-image: url("../images/cozumel.jpg");
}

.backdiv5{
    background-image: url("../images/ciudaddemexico.jpg");
}


.font{
    font-size: 80px;
    color: black;
}

