*{
    margin: 0;
    padding: 0;
}


.titulo2{
    text-align: center;
    font-size: 50px;
    
    color: white;
    width: auto;
}

.h2{
    display: flex;
    text-align: center;
    background-color: black;
    flex-wrap: wrap;
    margin-top: 200px;
    
    margin-bottom: 120px;
    width: 550px;
    height: 400px;

}

.iframe{
    display: flex;
    width: 100vh;
    height: 400px;
}



body{
    background-color: aqua;
}

.cont {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.cont iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

