@font-face {
    font-family: cour;
    src: url("../fonts/Courgette-Regular.ttf");
  
}

body{
    background-image: url(../images/blackbi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

div{
    color: white;
}

h1{
    font-size: 100px;
    background-color: black;
    justify-content: center;
    text-decoration: solid;
    color: white;
    
}

form{
    
    padding: 100px;
    position: relative;
}

p{
    font-size: 50px;
}

.margins{
    margin-top: 10px;
}

.newdiv{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-top: 50px;
    margin-right: 50%;
}