@import url(../css/galeria.css);
$cel:"(max-width: 480px)";
$clrs: (
    principal: rgb(3, 10, 53),
    precios: rgb(2, 54, 88),
    contacto: rgb(3, 112, 139),
    turismo: rgb(12, 197, 197),
    titulo: white,
);

@font-face {
    font-family: cour;
    src: url("../fonts/Courgette-Regular.ttf");
}


body{
    background-image: url(../images/fondomadera.jpg);
    background-attachment: fixed;
    font-family: cour;
}

@each $clr, $fntcolor in $clrs {
    .clr--#{$clr}:hover{
        background-color: $fntcolor;
    }
}

h1{
    text-align: center;
    font-size: 50px;
    color: white;
    width: auto;
}

footer{
    @extend h1;
    text-decoration: none;

    &:hover{
        opacity: 0.5;
    }
}


.crsl{
    height: 600px;
    border-style: solid;
    border-color: white;
    margin-top: 1.5rem;
}

.bstyle{
    margin-top: 17rem;
    padding: 5%;
    background-color: black;
    color: white;
    font-size: 30px;
    text-decoration: none;
    
}
