@import url(../css/grids.css);
$cel:"(max-width: 480px)";
$tablet:"(max-width: 768px)";
$grad: linear-gradient(to top left, black, black, black,black, grey, white);
@mixin cel{
    @media(max-width:480px){
        @content;
    }
}

@mixin titulo {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    font-size: 37px;
    color: white;
}

.h34{
    @include titulo; 
        justify-content: center;
        font-size: 35px;
}

@mixin mapweb{
    padding: 120px;
    margin-top: 120px;
    margin-bottom: 80px;
}

.mapwebb{
    @include mapweb;
    color: white;
    margin-top: 80px;
}

@mixin mapasub{
    text-decoration: none;
    width: 100%;
    height: auto;
    margin-bottom: auto;
    margin-top: 60rem;
}

.nosub{
    @include mapasub;
    background-image: $grad;
}

@mixin cel{
    @media(max-width:480px){
        @content;
    }
}

@include cel{
    body{
        background-image: url(../images/fondomadera.jpg);
    }
}