@import url(../css/galeria.css);
@font-face {
  font-family: cour;
  src: url("../fonts/Courgette-Regular.ttf"); }

body {
  background-image: url(../images/fondomadera.jpg);
  background-attachment: fixed;
  font-family: cour; }

.clr--principal:hover {
  background-color: #030a35; }

.clr--precios:hover {
  background-color: #023658; }

.clr--contacto:hover {
  background-color: #03708b; }

.clr--turismo:hover {
  background-color: #0cc5c5; }

.clr--titulo:hover {
  background-color: white; }

h1, footer {
  text-align: center;
  font-size: 50px;
  color: white;
  width: auto; }

footer {
  text-decoration: none; }
  footer:hover {
    opacity: 0.5; }

.crsl {
  height: 600px;
  width: 500px;
  border-style: solid;
  border-color: white;
  margin-top: 1.5rem; }

.bstyle {
  margin-top: 17rem;
  padding: 5%;
  background-color: black;
  color: white;
  font-size: 30px;
  text-decoration: none; }
