@import url(../css/styles.css);
@font-face {
  font-family: cour;
  src: url("../fonts/Courgette-Regular.ttf"); }

body {
  font-family: cour; }

.transformacion {
  width: 200px;
  margin: auto;
  transition: transform 5s; }

@media (max-width: 480px) {
  .footerprecios {
    background-color: black; }
  :hover {
    background-image: linear-gradient(to bottom right, rgba(40, 42, 46, 0.808), whitesmoke);
    transform: scaleX(2);
    width: 150px; } }

.footerprecios {
  text-align: center;
  color: white;
  text-decoration: solid;
  font-size: 50px; }

.align {
  text-align: center;
  font-size: 50px;
  color: white; }

.aside {
  font-size: 35px;
  text-align: center;
  color: white; }

h1, footer {
  text-align: center;
  font-size: 50px;
  color: white;
  width: auto; }

footer {
  text-decoration: none; }
  footer:hover {
    opacity: 0.5; }

.mrg {
  margin-bottom: 2rem; }

.bstyle {
  margin-top: 5rem;
  padding: 5%;
  background-color: black;
  color: white;
  font-size: 30px;
  text-decoration: none; }

h4 {
  text-align: center;
  color: white; }

.fp {
  display: flex;
  justify-content: center; }
