@import url(../css/cssvo.css);
@font-face {
  font-family: cour;
  src: url("../fonts/Courgette-Regular.ttf"); }

div p {
  font-size: 25px;
  text-decoration: solid;
  color: white;
  padding: 10px;
  margin: 50px; }

body {
  background-image: url(../images/fondomadera.jpg);
  font-family: cour; }

h1, footer div {
  font-size: 50px;
  text-align: center;
  color: white; }

article div {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

footer div {
  text-decoration: none; }
  footer div:hover {
    background-image: linear-gradient(to bottom right, rgba(40, 42, 46, 0.808), whitesmoke); }

footer .transformacion {
  width: 500px;
  margin: auto;
  transition: transform 5s; }
  footer .transformacion:hover {
    transform: scaleX(2);
    transform: scaleY();
    width: 300px; }

.link--principal:hover {
  background-color: #030a35; }

.link--precios:hover {
  background-color: #023658; }

.link--contacto:hover {
  background-color: #03708b; }

.link--vobligadas:hover {
  background-color: #0cc5c5; }

.tituloa {
  color: #030a35; }

.titulob {
  color: #03708b; }

@media (max-width: 480px) {
  div p {
    font-size: 15px; }
  footer div {
    text-decoration: dashed;
    background-color: black;
    font-size: 20px;
    color: white; } }

.bstyle {
  margin-top: 5rem;
  padding: 5%;
  background-color: black;
  color: white;
  font-size: 30px;
  text-decoration: none; }

.dad {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 10rem;
  width: auto; }
